$object-default-color: #fdf8cb;
$stroke-default-color: #000000;
$stroke-default-width: 0.8;
$floor-default-color: #ffffff;

#drawing {
    .around {
        fill: $object-default-color;
        stroke: lighten($stroke-default-color, 66.5%);
        stroke-width: $stroke-default-width;

        &:hover {
            stroke: $stroke-default-color;
            stroke-width: $stroke-default-width / 2;
            cursor: pointer;
        }
    }

    .svg-button {
        fill: #c9f8cb;
        stroke: lighten($stroke-default-color, 66.5%);
        stroke-width: $stroke-default-width;

       &:hover {
           stroke: $stroke-default-color;
           stroke-width: $stroke-default-width / 2;
           cursor: pointer;
        }
    }

    .floor {
        fill: $floor-default-color;
    }
}
